@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  background-color: rgb(19, 18, 18);
  color: rgb(230, 230, 230);
}

.border-1 {
  border: 1px solid;
}

 .link  {
  color: rgb(231, 234, 248);
  border: 1px solid;
   border-color: rgba(240, 248, 255, 0.233);
   @apply   p-1 px-2 rounded-full bg-slate-50 bg-opacity-10 hover:bg-opacity-15
}

.link-active {
  @apply bg-slate-300 bg-opacity-40
}

.bg-blur {
  backdrop-filter: blur(10px);
}

.bg-popover {
  @apply fixed top-0 left-0 w-full h-full bg-black bg-opacity-5 bg-blur
}